@import "../../Variables/global.scss";

.bodyHeader {
    text-align: center;
    color: $fontColor;
    font-family: $font;

    h1 {
        font-weight: unset;
    }
}

.body {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;

    .block {
        flex: 1;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .blockMiddle {
        flex: 1;
        width: fit-content;
        justify-content: center;
        display: flex;
    }

    .blockLeft {
        flex: 1;
        width: 33%;
        justify-content: center;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 50em) {
    .body div:last-child {
        flex-basis: 100%;
    }
}