@import "../../Variables/global.scss";

.bodyHeader {
    text-align: center;
    color: $fontColor;
    font-family: $font;
    // margin-top: 1%;
    h1 {
        font-weight: unset;
    }
}

.container{
    padding-bottom: 10%;
    padding-top: 10%;
}

.body {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;

    .block {
        margin-left: 3%;
        margin-right: 3%;
        flex: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    .blockMiddle {
        margin-left: 3%;
        margin-right: 3%;
        flex: 1;
        width: fit-content;
        justify-content: center;
    }

    .blockRight {
        flex: 1;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: center;
        overflow: hidden;
        // text-overflow: ellipsis;
    }
}

@media (max-width: 50em) {
    .body div:last-child {
        flex-basis: 100%;
    }
}