@import "../../../Variables/global.scss";

.panel{
    
    text-overflow: ellipsis;
    .BlockName{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    width: 100%;
    height: 33%;
    text-align: center;
    justify-content: center;
    // .textdiv{
    //     overflow-y: auto;
    // }
}