@import "../../Variables/global.scss";

.main {
    position: fixed;
    bottom: 0;
    background-color: $footerBackgroundColor;
    color: $footerMainColor;
    display: flex;
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    border: 1px black solid;
    min-height: 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .itemRight {
        margin-right: 5%;
        position: relative; /* Needed for absolute positioning of the menu */
        z-index: 1;
    }

    .itemLeft {
        margin-left: 5%;
        white-space: nowrap;
    }

    @media(max-width: 50em) {
        .itemMiddle {
            display: none;
        }
    }

    .itemLeftIn {
        margin-top: auto;
        margin-bottom: auto;
        padding: 5px;
        font-size: larger;
        text-align: left;
        font-size: 80%;
        border: 1px $footerMainColor solid;
        height: 80px;
        width: 80px;
    }

    button:hover {
        border: 2px $fontColor solid;
        color: $fontColor;
    }

    button {
        border-radius: 4%;
        padding: 2%;
        font-size: 20px;
        margin-bottom: 20px;
        width: 50%;
        border: 2px $footerMainColor solid;
        background-color: $footerBackgroundColor;
        color: $fontColorDarker;
        width: 200px;
        height: 50px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        position: relative; /* Positioning context for menu */
        z-index: 1; /* Ensure button is above default elements */
    }

    div {
        flex: 1;
        margin-top: auto;
        margin-bottom: auto;
    }

    .menu {
        position: absolute;
        bottom: 100%; /* Start hidden below the footer */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust to center based on the menu's width */
        width: 200px; /* Fixed width */
        background-color: $fontColor;
        color: $footerMainColor;
        z-index: 0;
        transition: bottom 0.3s ease; /* Smooth transition for sliding effect */
        display: none; /* Initially hidden */
    }
    
    .menu.show {
        bottom: calc(100% + 26px); /* Slide up to just above the footer */
        display: block; /* Show when the .show class is applied */
    }
    

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        padding: 5px 0;
    }
}
